<button class="Wizard__close" ng-click="addRule.modalInstance.close()">
  <svg class="Wizard__icon">
    <use xlink:href="./assets/svg/ui/ui.symbol.svg#close"></use>
  </svg>
</button>

<div guh-wizard handle="addRule" show-navigation="false">
  <!-- Add rule types -->
  <div guh-wizard-step title="Add a new Rule" is-valid="addRule.isValid()">
    <div class="Wizard__step-description">
      <p>A rule controls one or more of your things. You can add trigger and conditions to turn the rule on or off automatically.</p>
    </div>
    <div class="List">
      <!-- Actions -->
      <div class="List__item-divider List__item-divider_has-icon-left">
        <svg class="List__icon List__icon_left">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#log-in"></use>
        </svg>
        When rule is turned ON, control these things
      </div>
      <!-- Actions: List -->
      <div class="List__item List__item_hasDescription" ng-click="addRule.deleteAction(action)" ng-repeat="action in addRule.actions track by $index">
        <div class="List__item-title">{{ action.actionType.name }} <span ng-repeat="param in action.enhancedParams track by $index">{{ $index === 0 ? '(' : '' }}{{ param.name }}={{ param.value }}{{ param.unit | unit }}{{ ($index === action.params.length - 1) ? '' : ', ' }}{{ $index === action.enhancedParams.length - 1 ? ')' : '' }}</span></div>
        <div class="List__item-description">{{ action.thing.name }}</div>
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#minus"></use>
        </svg>
      </div>
      <!-- Actions: Add -->
      <div class="List__item" ng-click="addRule.addAction()">
        {{ addRule.actions.length > 0 ? 'Add another control' : 'Add a control' }}
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#plus"></use>
        </svg>
      </div>

      <!-- ExitActions -->
      <div class="List__item-divider List__item-divider_has-icon-left">
        <svg class="List__icon List__icon_left">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#log-out"></use>
        </svg>
        When rule is turned OFF, control these things
      </div>
      <!-- ExitActions: List -->
      <div class="List__item List__item_warning" ng-show="addRule.exitActionsDisabled">When trigger were added the mood can only be turned on.</div>
      <div class="List__item List__item_hasDescription" ng-click="addRule.deleteExitAction(action)" ng-class="{ 'List__item_isDisabled': addRule.exitActionsDisabled }" ng-repeat="action in addRule.exitActions track by $index">
        <div class="List__item-title">{{ action.actionType.name }} (<span ng-repeat="param in action.enhancedParams track by $index">{{ param.name }}={{ param.value }}{{ param.unit | unit }}{{ ($index === action.params.length - 1) ? '' : ', ' }}</span>)</div>
        <div class="List__item-description">{{ action.thing.name }}</div>
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#minus"></use>
        </svg>
      </div>
      <!-- ExitActions: Add -->
      <div class="List__item" ng-click="addRule.addExitAction()" ng-class="{ 'List__item_isDisabled': addRule.exitActionsDisabled }">
        {{ addRule.exitActions.length > 0 ? 'Add another control (optional)' : 'Add a control (optional)' }}
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#plus"></use>
        </svg>
      </div>

      <!-- Events -->
      <div class="List__item-divider List__item-divider_has-icon-left">
        <svg class="List__icon List__icon_left">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#ios-bolt"></use>
        </svg>
        Control the things only when something happens
      </div>
      <!-- Events: List -->
      <div class="List__item List__item_hasDescription" ng-click="addRule.deleteEvent(event)" ng-repeat="event in addRule.events track by $index">
        <div class="List__item-title">{{ event.eventType.name }}</div>
        <div class="List__item-description">{{ event.thing.name }}</div>
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#minus"></use>
        </svg>
      </div>
      <!-- Events: Add -->
      <div class="List__item" ng-click="addRule.addEvent()">
        {{ addRule.events.lenfth > 0 ? 'Add another trigger (optional)' : 'Add a trigger (optional)' }}
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#plus"></use>
        </svg>
      </div>

      <!-- States -->
      <div class="List__item-divider List__item-divider_has-icon-left">
        <svg class="List__icon List__icon_left">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#ios-loop-strong"></use>
        </svg>
        Control the things as long as conditions are met
      </div>
      <!-- States: List -->
      <div class="List__item List__item_hasDescription" ng-click="addRule.deleteState(state)" ng-repeat="state in addRule.states track by $index">
        <div class="List__item-title">{{ state.title  }}</div>
        <div class="List__item-description">{{ state.thing.name }}</div>
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#minus"></use>
        </svg>
      </div>
      <!-- States: Add -->
      <div class="List__item" ng-click="addRule.addState()">
        {{ addRule.states.length > 0 ? 'Add another condition (optional)' : 'Add a condition (optional)' }}
        <svg class="List__icon List__icon_right">
          <use xlink:href="./assets/svg/ui/ui.symbol.svg#plus"></use>
        </svg>
      </div>
    </div>

    <button class="button" type="button" ng-disabled="!addRule.isValid()" ng-click="addRule.setDetails()">Save mood</button>
  </div>

  <!-- Enter rule details -->
  <div guh-wizard-step title="Enter mood name">
    <div class="Wizard__step-description">
      <p>Please enter a name for this mood before you save it.</p>
    </div>

    <guh-text-input label="Name"
                    name="name"
                    required="true"
                    type="InputTypeTextLine"
                    on-change="addRule.setRuleName(value)"></guh-text-input>

    <guh-button label="OK"
                on-press="addRule.enterRuleDetails()"
                disabled="addRule.rule.name === ''"></guh-button>
  </div>
</div>